{% load static %}
{% load admin_urls %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Staff Communications</title>
  <!--Tinymce Text-Editor (Must be in Head Tag) -->
  <script src="{% static 'staffcom/js/tinymce/tinymce.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'staffcom/js/tinymce/custom.js' %}" ></script>

          <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	{# Fonts#}
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Russo+One" rel="stylesheet">
	<!---DatePicker-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
  {% block styles %}
	    /*body {
	        padding-top: 70px;
	    }
	    @media (max-width: 980px) {
	        body {
	            padding-top: 70px;
	        }
	    }*/
  {% endblock %}
	</style>

</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'inventory' %}">Communication</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class='nav-item'><a href="{% url 'inventory' %}">Inventory</a></li>
        <li class='nav-item'><a href="{% url 'chemo' %}">Chemo</a></li>
        <li class='nav-item'><a href="{% url 'homeiv' %}">Home IV</a></li>
        <li class='nav-item'><a href="{% url 'ops' %}">Operations</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'add_communication' %}"><span class ='glyphicon glyphicon-plus'></span>
          <strong>New Post</strong></a></li>
          {% if user.is_superuser %}
          <li><a href="{% url 'admin:index' %}">Settings</a></li>
          {% endif %}
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
        <form class="navbar-form navbar-left">
          <div class="form-group">
               <input id ="searchText" type="text" class="form-control" placeholder="Search">
          </div>
        </form>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class='nav-item'><a href="{% url 'logout' %}"><span class='glyphicon glyphicon-off'></span> Logout</a></li>
        {% else %}
        <li class='nav-item'><a href="{% url 'login' %}"><span class='glyphicon glyphicon-user'></span> Login</a></li>
        {% endif %}
        <li class='nav-item'><a href="{% url 'homepage' %}"><span class='glyphicon glyphicon-home'></span>
        <strong>Main Page</strong></a></li>
      </ul>
      <form class="navbar-form navbar-left">
       <!--  <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class='container-fluid'>
    {% block content %}
    {% endblock %}
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
    {% block javascript %} {% endblock %}
</body>
</html>